{% extends "master.html" %}


{% if liste %}
    {% block title %}
      
        <h3>{{liste_cursus.name}} {{liste_cursus.scholar_year}}</h3>
        
    {% endblock %}
    
    {% block content %}
      <table>
          <tr>
            <td>
              <input type="date" id="start" name="trip-start" 
              value="dd-mm-yyyy"min="2018-01-01" max="2022-12-31">
            </td>
          </tr>
          
      {% for student in liste %}
        
          <tr>
            <td>
              <div>
                <input type="checkbox" id="horns" name="horns">
                <label for="horns">{{student.first_name }} {{student.last_name}}</label>
              </div>
            </td>
          </tr>   
          
          
        {% endfor %}
          <tr>
            <td>
            <div class="boutons">
            <button class="button radius alert left" type="cancel"><a href="/lycee/">Cancel</a></button></td>
            
            <td>
            <button class="button radius success right" type="submit">Submit</button></td></tr>
            </div>  

      </table>
      
     {% endblock %}

{% else %}
     <p>No student to show.</p>
{% endif %}